<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipes</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to My Recipes</h1>
    <a href="/recipes/new">Add a new recipe</a>

    <ol>
      <% recipes.forEach((recipe) => { %>
      <li>
        <ul>
          <li><%= recipe.name %></li>
          <li>How to Cook: <%= recipe.instructions %></li>
          <li>Created By: <%= recipe.owner.username %></li>
          <li><a href="/recipes/<%= recipe._id %>">View More Details</a></li>
        </ul>
      </li>
      <% }) %>
    </ol>
  </body>
</html>
